* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #22262a;
  --secondary-color: #ffffff;
  --bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  /* background-color: aqua; */
}

/* NavBar Section */

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  padding: 10px 100px;
}

nav .logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--primary-color);
}

nav .container {
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  margin: 6px;
  background-color: var(--primary-color);
}

.nav-links {
  position: relative;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nav-icons i {
  padding-left: 40px;
}

.nav-links ul li {
  padding: 0px 20px;
}

/* Navbar Exit */

/* Banner Section */

.banner-area {
  background-image: url(images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
  position: relative;
}

.banner-area button {
  color: white;
  background: var(--primary-color);
  width: 147px;
  height: 35px;
  margin-top: 20px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-content {
  position: absolute;
  top: 60%;
  left: 55%;
  color: var(--primary-color);
}

.banner-content .small-text {
  font-weight: 500;
  font-size: 18px;
}

.banner-content .large-text {
  font-weight: 700;
  font-size: 80px;
}

/* Banner Exit */

/* CATAGORY */

.grid-wrapper {
  /* background-color: red; */
  width: 1135px;
  margin: 0 auto;
  margin-top: 5rem;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-wrapper > div > img {
  height: 100%;
  width: 100%;
}

.grid-wrapper .wide {
  grid-column-start: 1;
  grid-column-end: 3;
  /* background-color: aqua; */
}

.grid-wrapper .tall {
  /* background-color: blue; */
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* .grid-wrapper .tall .btn {
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 3px 25px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
} */

/* CATAGORY Exit */

/* Fashion Section */

.fashion-section {
  /* background-color: cyan; */
  margin-top: 7rem;
  width: 1138px;
  margin: 0 auto;
}

.fashion-intro {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}

.fashion-intro-bold-text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

.fashion-intro-light-text {
  font-weight: 400;
  font-size: 15px;
}

.fashion-section .cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fashion-section .cards .prices {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-weight: 400;
  font-size: 15px;
}

.fashion-section .cards .o-price {
  text-decoration: line-through;
}

.fashion-section .cards .d-price {
  color: #cf2929;
}

.fashion-section .light-text {
  font-weight: 300;
  font-size: 15px;
}

.fashion-section .bold-text {
  font-weight: 600;
  font-size: 15px;
}

/* Fashion Section */

/* Style Section */

.style-section {
  /* background-color: cyan; */
  width: 1133px;
  margin: 0 auto;
}

.style-section .style-grid {
  margin-top: 5rem;
  gap: 30px;
  display: flex;
}

.style-grid .first {
  margin-top: 100px;
}

.style-grid .third {
  padding: 25px;
  position: relative;
  top: 395px;
  right: 250px;
  height: 100%;
  background-color: white;
}

/* Style Section */

/* Cover 2 Section */

.banner-2-area {
  background-image: url(images/cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
  margin-top: 6rem;
  position: relative;
}

.banner-2-area button {
  color: white;
  background: var(--primary-color);
  height: 35px;
  padding: 0 25px;
  margin-top: 20px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-2-content {
  position: absolute;
  top: 65%;
  left: 12%;
  color: var(--primary-color);
}

.banner-2-content .small-text {
  font-weight: 500;
  font-size: 18px;
}

.banner-2-content .large-text {
  font-weight: 700;
  font-size: 80px;
}

/* Cover 2 Section */

/* Footer Section */

.footer-section {
  background-color: #f2f8fc;
}

.footer-section .footer-content {
  display: flex;
  top: 65%;
  left: 10%;
  padding-bottom: 100px;
}

.footer-section .footer-logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.footer-section .section-1 {
  width: 50%;
  position: relative;
  margin-top: 6rem;
  padding: 0 12%;
}

.footer-section .section-1 .location {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-section .section-1 .mail {
  width: 237px;
  border-bottom: 1px solid var(--primary-color);
}

.footer-section .section-1 .phone {
  margin-top: 0.5rem;
}

.footer-section .section-1 .social-media {
  width: 120px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-section .section-2 {
  position: relative;
  margin-top: 6rem;
  width: 50%;
  /* background-color: blueviolet; */
}

.footer-section .section-2 .email-updates {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

.footer-section .section-2 input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.footer-section .section-2 .button-inside {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: white;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 7%;
}

.footer-section .section-2 input[type="text"] {
  background-color: transparent;
  position: relative;
  margin-left: 10px;
  top: -3px;
  border: none;
  width: 432px;
  font-size: 15px;
}

.footer-section .section-2 input[type="submit"] {
  position: relative;
  top: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
}

.footer-section .section-2 input::placeholder {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.footer-section .section-2 input:focus {
  outline: none;
}

.footer-section .section-2 .link-section {
  display: flex;
  /* background-color: cyan; */
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.footer-section .section-2 .link-section .main-title {
  font-weight: 600;
  font-size: 20px;
}

.footer-section .section-2 .link-section .sub1-link-section {
  width: 100%;
  /* background-color: red; */
  margin-right: 10px;
}

.footer-section .section-2 .link-section .sub2-link-section > div {
  margin-top: 1rem;
}

.footer-section .copyright {
  background-color: #e7f5f8;
  width: 100%;
  height: 93px;
}

.footer-section .copyright > div {
  font-weight: 400;
  font-size: 15px;
  position: relative;
  top: 50%;
  text-align: center;
}

/* Foooter Section */

@media only screen and (max-width: 1200px) {
  /* Navigation */
  nav {
    padding: 10px 50px;
  }

  .nav-links ul li {
    padding: 0px 10px;
  }

  /* Grid Wrapper */
  .grid-wrapper {
    /* background-color: red; */
    width: 560px;
    margin: 0 auto;
    margin-top: 5rem;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* Fashion Section */
  .fashion-section {
    width: 580px;
  }

  /* .fashion-intro {
    margin-bottom: 1rem;
  } */

  .fashion-section .cards {
    display: grid;
    gap: 0rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 4rem;
  }

  .fashion-section .card {
    margin-top: 3rem;
  }

  .fashion-section .cards .prices {
    display: flex;
    justify-content: space-between;
    width: 150px;
    /* background-color: blueviolet; */
    font-weight: 400;
    font-size: 15px;
  }

  /* Style Section */
  .style-section {
    width: 580px;
    margin: 0 auto;
  }
  .style-section .style-grid {
    margin-top: 5rem;
    gap: 20px;
    display: flex;
    position: relative;
    left: 100px;
  }

  .style-section .style-grid > div > img {
    height: auto;
    width: 100%;
  }

  .style-grid .first {
    margin-top: 38px;
  }

  .style-grid .third {
    padding: 15px;
    position: relative;
    top: 150px;
    right: 95px;
    height: 100%;
    background-color: white;
  }

  /* Banner 2 */
  .banner-2-content {
    position: absolute;
    top: 55%;
    left: 26%;
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 1092px) {
  .nav-links ul {
    position: fixed;
    width: 100%;
    height: 320px;
    background-color: white;
    z-index: 1;
    text-align: center;
    transition: all 0.5s;
    top: 60px;
    left: 0;
  }

  .nav-links ul li {
    display: block;
    margin-top: 1.5rem;
  }

  nav .container {
    display: inline-block;
    cursor: pointer;
  }

  /* Banner Content */
  .banner-content {
    position: absolute;
    top: 40%;
    left: 20%;
    color: var(--primary-color);
  }

  /* Grid Wrapper */
  .grid-wrapper {
    width: 600px;
    gap: 15px;
  }

  /* Fashion Section */
  .fashion-section {
    width: 600px;
  }

  .fashion-section .cards {
    gap: 0px;
  }

  .fashion-section .card {
    margin-top: 3rem;
  }

  /* Style Section */

  .style-section {
    width: 60%;
    margin: 0 auto;
  }

  .style-section .style-grid {
    margin-top: 5rem;
    gap: 0px;
    display: flex;
    position: relative;
    left: 100px;
  }

  .style-grid .first {
    margin-top: 33px;
    background-color: white;
    height: 100%;
    position: relative;
    left: -80px;
  }

  .style-grid .second {
    position: relative;
    left: -60px;
    height: 100%;
  }

  .style-grid .third {
    padding: 15px;
    z-index: 1;
    position: relative;
    top: 160px;
    height: 100%;
    right: 150px;
    background-color: white;
  }

  /* Banner 2 */

  .banner-2-content {
    position: absolute;
    top: 55%;
    left: 20%;
    color: var(--primary-color);
  }

  /* Footer */
  .footer-section .section-1 {
    width: 50%;
    position: relative;
    margin-top: 6rem;
    padding: 0 12%;
  }

  .footer-section .section-2 {
    position: relative;
    margin-top: 6rem;
    /* background-color: blueviolet; */
    width: 50%;
  }

  .footer-section .section-2 .button-inside {
    width: 370px;
  }

  .footer-section .section-2 input[type="text"] {
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  /* Style Section */
  .style-section {
    width: 60%;
    margin: 0 auto;
  }

  /* Footer */
  .footer-section .section-2 .button-inside {
    width: 270px;
  }

  .footer-section .section-2 input[type="text"] {
    width: 200px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  /*CATAGORY SECTION  */
  .grid-wrapper {
    width: 80%;
    grid-gap: 5px;
  }

  /* Fashion Section */
  .fashion-section {
    width: 500px;
  }

  .fashion-section .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }

  .fashion-section .cards {
    gap: 0px;
  }

  .fashion-section .card {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .banner-area button {
    font-weight: 500;
    font-size: 14px;
  }

  .banner-content {
    position: absolute;
    top: 40%;
    left: 15%;
    color: var(--primary-color);
  }

  .banner-content .small-text {
    font-weight: 500;
    font-size: 16px;
  }

  .banner-content .large-text {
    font-weight: 700;
    font-size: 50px;
  }

  .grid-wrapper {
    width: 60%;
    grid-gap: 5px;
  }

  .fashion-section {
    width: 50%;
  }

  .fashion-section .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }

  /* Banner 2  */

  .banner-2-area button {
    font-weight: 500;
    font-size: 14px;
  }

  .banner-2-content {
    position: absolute;
    top: 65%;
    left: 12%;
    color: var(--primary-color);
  }

  .banner-2-content .small-text {
    font-weight: 500;
    font-size: 16px;
  }

  .banner-2-content .large-text {
    font-weight: 700;
    font-size: 50px;
  }

  /* Footer Section */

  .footer-section .footer-content {
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 0%;
    padding-bottom: 100px;
  }

  .footer-section .section-1 {
    width: 100%;
    position: relative;
    margin-top: 6rem;
    padding: 0 12%;
  }

  .footer-section .section-2 {
    position: relative;
    margin-top: 6rem;
    width: 100%;
    padding: 0 12%;

    /* background-color: blueviolet; */
  }

  .footer-section .section-2 .button-inside {
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: white;
    width: 75%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 7%;
  }

  .footer-section .section-2 input[type="text"] {
    background-color: transparent;
    position: relative;
    margin-left: 10px;
    top: -3px;
    border: none;
    width: 80%;
    font-size: 15px;
  }

  .footer-section .section-2 input[type="submit"] {
    position: relative;
    top: -3px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
  }

  .footer-section .section-2 input::placeholder {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
  }

  .footer-section .section-2 input:focus {
    outline: none;
  }

  .footer-section .section-2 .link-section {
    display: flex;
    /* background-color: cyan; */
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }

  .footer-section .section-2 .link-section .main-title {
    font-weight: 600;
    font-size: 20px;
  }

  .footer-section .section-2 .link-section .sub1-link-section {
    width: 100%;
    /* background-color: red; */
    margin-right: 10px;
  }

  .footer-section .section-2 .link-section .sub2-link-section > div {
    margin-top: 1rem;
  }
}
