* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #22262a;
  --secondary-color: #ffffff;
  --bg-color: #ffffff;
}

.section-intro-bold-text {
  font-weight: 700;
  /* font-size: 20px; 30 */
  font-size: 1.7vw;
  margin-bottom: 15px;
}

.section-intro-light-text {
  font-weight: 400;
  /* font-size: 15px; 23 */
  font-size: 1.3vw;
}

body {
  background-color: var(--bg-color);
}

/* NavBar Section */

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  height: 83px;
  padding: 10px 60px;
}

nav .menu {
  display: none;
  cursor: pointer;
}

nav .logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--primary-color);
}

nav .container {
  display: none;
}

.nav-links {
  position: relative;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nav-icons i {
  padding-left: 40px;
}

.nav-links ul li {
  padding: 0px 20px;
}

/* Banner Section */

.banner-area {
  background-image: url(images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  top: 75px;
  height: 60vw;
  width: 100%;
}

.banner-area button {
  color: var(--secondary-color);
  background: var(--primary-color);
  /* width: 147px; */
  width: 12.2vw;
  /* height: 35px; */
  height: 2.9vw;
  border: none;
  margin-top: 27px;
  margin-right: 30px;
  font-weight: 500;
  /* font-size: 18px; 27 */
  font-size: 1.5vw;
}

.banner-content {
  position: relative;
  /* background-color: #cf2929; */
  width: 40%;
  left: 55%;
  top: 55%;
  color: var(--primary-color);
}

.banner-content .small-text {
  font-weight: 500;
  /* font-size: 14px; 21 */
  font-size: 1.2vw;
}

.banner-content .large-text {
  font-weight: 700;
  /* font-size: 80px; 120 */
  font-size: 6.7vw;
}

/* CATAGORY */

.category .container {
  width: 100%;
  margin-top: 199px;
  background-color: #00ffff;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-gap: 25px; */
  /* row-gap: 22px; */
  column-gap: 2.1vw;
  row-gap: 1.8vw;
  padding: 0 9%;
}

.img-grid .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-grid .wide-card {
  /* background-color: #ff00ff; */
  grid-column: span 2;
}

.img-grid .normal-1-card {
  /* background-color: #aaff00; */
  grid-row-start: 2;
}

.img-grid .normal-2-card {
  /* background-color: #00ffff; */
  grid-row-start: 2;
  grid-column-start: 2;
}

.img-grid .tall-card {
  /* background-color: #0000ff; */
  grid-column: span 2;
  grid-row: span 2;
  /* margin-left: 6px; */
  margin-left: 0.6vw;
  background-color: var(--primary-color);
}

.img-grid .tall-card img {
  opacity: 0.6;
}

.stacked-btn {
  grid-row: 2;
  grid-column: 3;
}

.stacked-btn button {
  position: relative;
  width: 203px;
  height: 35px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #22262a;
  background-color: #ffffff;
}

/* Women Section */
.women-section {
  width: 100%;
  background-color: #00ffff;
  padding: 0 9%;
}

.women-intro {
  margin-top: 114px;
  margin-bottom: 65px;
  text-align: center;
}

.women-section .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  /* column-gap: 22px; */
  column-gap: 1.8vw;
}

.women-section .cards img {
  width: 100%;
  object-fit: cover;
}

.women-section .light-text {
  margin-top: 2.6vw;
  font-weight: 300;
  /* font-size: 15px; */
  font-size: 1.25vw;
}

.women-section .bold-text {
  /* margin-top: 3px; */
  margin-top: 0.3vw;
  font-weight: 600;
  /* font-size: 15px; */
  font-size: 1.25vw;
}

.women-section .cards .prices {
  display: flex;
  justify-content: space-between;
  /* width: 145px; */
  width: 12.1vw;
  font-weight: 400;
  /* font-size: 15px;  */
  font-size: 1.25vw;
  /* margin-top: 3px; */
  margin-top: 0.3vw;
}

.women-section .cards .o-price {
  text-decoration: line-through;
}

.women-section .cards .d-price {
  color: #cf2929;
}

/* Men Section */

.men-section {
  background-color: cyan;
  width: 100%;
  padding: 0 9%;
}

.men-intro {
  margin-top: 111px;
  margin-bottom: 72px;
  text-align: center;
}

.men-section .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  /* gap: 22px; */
  column-gap: 1.8vw;
  width: 100%;
}

.men-section .cards img {
  width: 100%;
  object-fit: cover;
}

.men-section .cards .prices {
  display: flex;
  justify-content: space-between;
  width: 145px;
  font-weight: 400;
  /* font-size: 15px; */
  font-size: 1.25vw;
  margin-top: 3px;
}

.men-section .cards .o-price {
  text-decoration: line-through;
}

.men-section .cards .d-price {
  color: #cf2929;
}

.men-section .light-text {
  margin-top: 24px;
  font-weight: 300;
  /* font-size: 15px; */
  font-size: 1.25vw;
}

.men-section .bold-text {
  margin-top: 3px;
  font-weight: 600;
  /* font-size: 15px; */
  font-size: 1.25vw;
}

/* Style Section */

.style-section {
  background-color: #00fffd;
  width: 100%;
  height: 100%;
  padding: 0 9%;
}

.style-intro {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 60px;
}

.style-section .style-grid {
  /* column-gap: 29px; */
  column-gap: 2.4vw;
  display: grid;
  grid-template-columns: 50% 46%;
}

.style-grid img {
  width: 100%;
  object-fit: cover;
}

.style-grid .first {
  /* background-color: #cf2929; */
  grid-row: 1;
  grid-column: 1;
  margin-top: 16%;
  /* margin-top: 87px; */
  /* 147px */
}

.style-grid .second {
  background-color: #19ff00;
  grid-column: 2;
  grid-row: 1;
  height: 60%;
}

.style-stacked-img {
  background-color: #cf2929;
  grid-row: 1;
  grid-column: 2;
  width: 51%;
  height: 39%;
  position: relative;
  /* top: 420px; */
  /* left: 282px; */
  /* padding-top: 22px; */
  /* padding-left: 25px; */
  padding-top: 4.6%;
  padding-left: 5.3%;
  top: 54%;
  left: 51%;
}

.style-stacked-img img {
  background-color: #ffffff;
  object-fit: cover;
}

.style-grid .style-stacked-btn {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  top: 90%;
  left: 11%;
  width: 39%;
  height: 4%;
  background-color: #cf2929;
}

.style-grid button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 400;
  /* font-size: 15px; */
  font-size: 1.26vw;
}

/* Banner 2 Section */

.banner-2-area {
  background-image: url(images/cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 60vw;
  width: 100%;
  margin-top: 121px;
  position: relative;
}

.banner-2-area button {
  color: white;
  background: var(--primary-color);
  width: 214px;
  height: 35px;
  border: none;
  margin-top: 20px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-2-content {
  position: relative;
  top: 65%;
  left: 12%;
  width: fit-content;
  color: var(--primary-color);
}

.banner-2-content .small-text {
  font-weight: 500;
  /* font-size: 18px; 27 */
  font-size: 1.5vw;
}

.banner-2-content .large-text {
  font-weight: 700;
  /* font-size: 80px; 120 */
  font-size: 6.7vw;
}

/* Footer Section */

.footer-section {
  background-color: #f2f8fc;
}

.footer-section .footer-content {
  display: flex;
  top: 65%;
  left: 10%;
  padding-bottom: 100px;
}

.footer-section .footer-logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.footer-section .section-1 {
  width: 50%;
  position: relative;
  margin-top: 6rem;
  padding: 0 12%;
}

.footer-section .section-1 .location {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-section .section-1 .mail {
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

.footer-section .section-1 .phone {
  margin-top: 0.5rem;
}

.footer-section .section-1 .social-media {
  width: 120px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-section .section-2 {
  position: relative;
  margin-top: 6rem;
  width: 50%;
  /* background-color: blueviolet; */
}

.footer-section .section-2 .email-updates {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

.footer-section .section-2 input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.footer-section .section-2 .button-inside {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: white;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 7%;
}

.footer-section .section-2 input[type="text"] {
  background-color: transparent;
  position: relative;
  margin-left: 10px;
  top: -3px;
  border: none;
  width: 432px;
  font-size: 15px;
}

.footer-section .section-2 input[type="submit"] {
  position: relative;
  top: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
}

.footer-section .section-2 input::placeholder {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.footer-section .section-2 input:focus {
  outline: none;
}

.footer-section .section-2 .link-section {
  display: flex;
  /* background-color: cyan; */
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.footer-section .section-2 .link-section .main-title {
  font-weight: 600;
  font-size: 20px;
}

.footer-section .section-2 .link-section .sub1-link-section {
  width: 100%;
  /* background-color: red; */
  margin-right: 10px;
}

.footer-section .section-2 .link-section .sub2-link-section > div {
  margin-top: 1rem;
}

.footer-section .copyright {
  background-color: #e7f5f8;
  width: 100%;
  height: 93px;
  padding: 15px;
}

.footer-section .copyright > div {
  font-weight: 400;
  font-size: 15px;
  position: relative;
  top: 50%;
  text-align: center;
}
