* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #22262a;
  --secondary-color: #ffffff;
  --bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  /* background-color: aqua; */
}

/* NavBar Section */

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  height: 83px;
  padding: 10px 60px;
}

nav .menu {
  display: none;
  cursor: pointer;
}

nav .logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--primary-color);
}

nav .container {
  display: none;
}

.nav-links {
  position: relative;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nav-icons i {
  padding-left: 40px;
}

.nav-links ul li {
  padding: 0px 20px;
}

/* Banner Section */

.banner-area {
  background-image: url(images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* top: 84px; */
  height: 100vh;
  width: 100%;
  position: relative;
}

.banner-area button {
  color: white;
  background: var(--primary-color);
  width: 147px;
  height: 35px;
  border: none;
  margin-top: 27px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-content {
  position: absolute;
  top: 60%;
  width: fit-content;
  left: 55%;
  color: var(--primary-color);
}

.banner-content .small-text {
  font-weight: 500;
  font-size: 18px;
}

.banner-content .large-text {
  font-weight: 700;
  font-size: 80px;
}

/* CATAGORY */

.container {
  width: 1135px;
  margin: 0 auto;
  margin-top: 124px;
  /* background-color: red; */
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 22px;
}

.img-grid .card img {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.img-grid .wide-card {
  background-color: blueviolet;
  grid-column: span 2;
}

.img-grid .normal-1-card {
  background-color: yellowgreen;
  grid-row: 2;
}

.img-grid .normal-2-card {
  background-color: cyan;
  grid-row: 2;
}

.img-grid .tall-card {
  background-color: blue;
  grid-column: span 2;
  grid-row: span 2;
  margin-left: 6px;
  background-color: var(--primary-color);
}

.img-grid .tall-card img {
  opacity: 0.6;
}

.stacked-btn {
  display: grid;
  grid-column: 3;
}

.stacked-btn button {
  position: relative;
  bottom: 74px;
  left: 28px;
  width: 203px;
  height: 35px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #22262a;
  background-color: #ffffff;
}

/* Fashion Section */

.fashion-section {
  /* background-color: cyan; */
  margin-top: 7rem;
  width: 1138px;
  margin: 0 auto;
}

.fashion-intro {
  margin-top: 6rem;
  margin-bottom: 72px;
  text-align: center;
}

.fashion-intro-bold-text {
  margin-top: 111px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}

.fashion-intro-light-text {
  font-weight: 400;
  font-size: 15px;
}

.fashion-section .cards {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.fashion-section .cards .prices {
  display: flex;
  justify-content: space-between;
  width: 145px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 3px;
}

.fashion-section .cards .o-price {
  text-decoration: line-through;
}

.fashion-section .cards .d-price {
  color: #cf2929;
}

.fashion-section .light-text {
  margin-top: 24px;
  font-weight: 300;
  font-size: 15px;
}

.fashion-section .bold-text {
  margin-top: 3px;
  font-weight: 600;
  font-size: 15px;
}

/* Women Section */
.women-section {
  width: 1138px;
  margin: 0 auto;
}

.women-intro {
  margin-top: 57px;
  margin-bottom: 65px;
  text-align: center;
}

.women-section .women-intro-bold-text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}

.women-section .women-intro-light-text {
  font-weight: 400;
  font-size: 15px;
}

.women-section .cards {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.women-section .cards .prices {
  display: flex;
  justify-content: space-between;
  width: 145px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 3px;
}

.women-section .cards .o-price {
  text-decoration: line-through;
}

.women-section .cards .d-price {
  color: #cf2929;
}

.women-section .light-text {
  margin-top: 31 * px;
  font-weight: 300;
  font-size: 15px;
}

.women-section .bold-text {
  margin-top: 3px;
  font-weight: 600;
  font-size: 15px;
}

/* Style Section */

.style-intro {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 60px;
}

.style-intro-light-text {
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
}

.style-intro-bold-text {
  font-weight: 700;
  font-size: 20px;
}

.style-section {
  /* background-color: cyan; */
  width: 1138px;
  margin: 0 auto;
}

.style-section .style-grid {
  column-gap: 29px;
  display: grid;
  grid-template-columns: 48% 46%;
}

.style-grid img {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.style-grid .first {
  /* background-color: goldenrod; */
  grid-row: 1 3;
  margin-top: 87px;
}

.style-grid .second {
  /* background-color: yellow; */
}

.style-grid .third {
  grid-column: 2;
  position: relative;
  background-color: white;
  padding-top: 22px;
  padding-left: 25px;
  width: 227px;
  top: -280px;
  left: 300px;
}

.style-grid .third img {
  max-height: 100%;
  max-width: 50%;
  object-fit: cover;
}

.style-grid .style-stacked-btn {
  grid-column: 2;
  position: relative;
  top: -340px;
  left: 125px;
  width: fit-content;
}

.style-grid button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 400;
  font-size: 15px;
}

/* Banner 2 Section */

.banner-2-area {
  background-image: url(images/cover2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
  margin-top: 6rem;
  position: relative;
}

.banner-2-area button {
  color: white;
  background: var(--primary-color);
  width: 214px;
  height: 35px;
  border: none;
  margin-top: 20px;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-2-content {
  position: relative;
  top: 65%;
  left: 12%;
  width: fit-content;
  color: var(--primary-color);
}

.banner-2-content .small-text {
  font-weight: 500;
  font-size: 18px;
}

.banner-2-content .large-text {
  font-weight: 700;
  font-size: 80px;
}

/* Footer Section */

.footer-section {
  background-color: #f2f8fc;
}

.footer-section .footer-content {
  display: flex;
  top: 65%;
  left: 10%;
  padding-bottom: 100px;
}

.footer-section .footer-logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.footer-section .section-1 {
  width: 50%;
  position: relative;
  margin-top: 6rem;
  padding: 0 12%;
}

.footer-section .section-1 .location {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-section .section-1 .mail {
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

.footer-section .section-1 .phone {
  margin-top: 0.5rem;
}

.footer-section .section-1 .social-media {
  width: 120px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-section .section-2 {
  position: relative;
  margin-top: 6rem;
  width: 50%;
  /* background-color: blueviolet; */
}

.footer-section .section-2 .email-updates {
  font-weight: 700;
  font-size: 28px;
  color: var(--primary-color);
}

.footer-section .section-2 input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.footer-section .section-2 .button-inside {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: white;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 7%;
}

.footer-section .section-2 input[type="text"] {
  background-color: transparent;
  position: relative;
  margin-left: 10px;
  top: -3px;
  border: none;
  width: 432px;
  font-size: 15px;
}

.footer-section .section-2 input[type="submit"] {
  position: relative;
  top: -3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 15px;
}

.footer-section .section-2 input::placeholder {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
}

.footer-section .section-2 input:focus {
  outline: none;
}

.footer-section .section-2 .link-section {
  display: flex;
  /* background-color: cyan; */
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.footer-section .section-2 .link-section .main-title {
  font-weight: 600;
  font-size: 20px;
}

.footer-section .section-2 .link-section .sub1-link-section {
  width: 100%;
  /* background-color: red; */
  margin-right: 10px;
}

.footer-section .section-2 .link-section .sub2-link-section > div {
  margin-top: 1rem;
}

.footer-section .copyright {
  background-color: #e7f5f8;
  width: 100%;
  height: 93px;
  padding: 15px;
}

.footer-section .copyright > div {
  font-weight: 400;
  font-size: 15px;
  position: relative;
  top: 50%;
  text-align: center;
}
